body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#left {
  justify-content: space-between;
}

#right {
  flex-direction: column;
}

#description {
  align-self: flex-end;
}